.about-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center; /* Align items vertically centered */
}

.about-section.reverse {
    grid-template-columns: 1fr 1fr;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-image {
    background-color: #f0f0f0;
    height: 300px;
    overflow: hidden; /* Ensure that any overflow is hidden */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
